/* Reset general */
body, h1, h4, p, ul, form, span, input {
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}


a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    margin: 0 auto;
}


/* HEADER */

#header {
    background-color: none;
    color: white;
}

/* Top del header */
#header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    height: 52px;
    margin: 0 110px 0 110px;
    padding: 10px 20px;
}


#header-top img {
    vertical-align: middle;
    margin-right: 10px;
}

#header-top img:hover {
    transform: scale(1.1);
}

#portal-pucmm {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #6f6f6f;
    font-family: "Helvetica Neue Bold", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/* Iconos de redes sociales del TEP */

.social-icons {
    display: flex;
    gap: 10px;
}

.round-border-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #edeaea;
    line-height: 42px;
    transition: background-color 0.3s ease;
    color: #6f6f6f;
}

.round-border-icon i {
    font-size: 14px;
}


.round-border-icon:hover {
    background-color: #2c2961;
    color: #ffffff;
}

/*  Bottom del header */
#header-bottom {
    padding: 0px 150px 0px 150px;
    height: 115px;
    display: flex;
    align-items: center;
    background-color: #2e2961;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}



#logo-tep-300px {
    vertical-align: middle;
}

/* Barra de navegación */

nav {
    flex-grow: 1;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-style: bold;
}

#search-form {
    border: 1px solid #ffffff;
    border-radius: 0;
    padding: 10px;
    margin-left: 20px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    position: relative;
}

#search {
    background-color: transparent;
    border: none;
    color: white;
    flex-grow: 1;
    margin-right: 10px;
    padding-right: 30px;
    outline: none;
    font-size: 11px;
    font-family: inherit;
    width: 200px;
}

.search-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input[type="text"]::placeholder {
    color: #ffffff;
}

button[type="submit"] {
    background-image: url('images/search-icon.png');
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* MENÚ DE NAVEGACIÓN MAIN */

#nav-bar {
    background-color: #2e2961;
    padding: 0;
    margin: 0;
}

#nav-bar-main-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-bar-main-list-element {
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.nav-bar-main-list-element:hover {
    border-bottom: 2px solid white;
}

.nav-bar-main-list-element a {
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
    color: #ffffff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}


.nav-bar-main-list-element:last-child {
    margin-right: 0;
}

.nav-bar-main-list-element a:hover {
    background-color: #37366f;
}

.nav-bar-main-list-element a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s;
}

.nav-bar-main-list-element a:hover::after {
    width: 100%;
}

.nav-bar-main-list-element a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s;
}

.nav-bar-main-list-element a:hover::before {
    width: 100%;
}

/* ESTILOS HIDDEN MENU */

.nav-bar-hidden-list {
    display: none;
    position: absolute;
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
    height: auto;
    font-size: small;
}

.nav-bar-hidden-list-element {
    height: auto;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.nav-bar-hidden-list-element a {
    color: #747474;
    text-decoration: none;
    display: block;
    padding: 15px 30px;
    margin: 0;
    white-space: nowrap;
    height: auto;
    transition: background-color 0.5s;
    line-height: 1.5;
    position: relative;
}


.nav-bar-hidden-list-element a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .3s ease-in-out;
    background-color: #2c2961;
    z-index: -1;
}

.nav-bar-hidden-list-element a:hover::before {
    width: 100%;
}

.nav-bar-hidden-list-element a:hover {
    color: #fff;
    text-decoration: underline;
    background-color: #2c2961;
    margin: 0;
}

.nav-bar-main-list-element:hover .nav-bar-hidden-list {
    display: block;
    margin: 0;
}

.nav-bar-main-list-element:last-child:hover {
    border-bottom: none;
}


/* Contenido principal de la página*/
#main {
    margin-top: 40px;
    border: none;
}

#separador {
    height: 100px;
    border: none;
}

#contenedorBarraProgreso {
    width: 100%;
    background-color: #cfd6e0;
    position: relative;
}

#barraProgreso {
    height: 8px;
    background-color: #a1aebf;
}

#textoProgreso {
    position: absolute;
    right: 25px;
    bottom: -25px;
    top: 15px;
    border-color: unset;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #2a2a2a;
}

/* Formulario */
.form-container {
    margin: 50px 25px 50px 25px;
    padding: 20px;
}

.form-container h1 {
    color: #2a2a2a;
    font-weight: 400;
    font-size: 1.75em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.form-container h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #2a2a2a;
    font-weight: 375;
    font-size: 1.1em;
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 20px;
}
.form-container a {
    color: blue;
    text-decoration: underline;
}

.form-group {
    margin-bottom: 20px;

}

.form-group button {
    padding: 10px 20px;
    background-color: #0142a2;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border: none;
}

.form-group button:hover {
    background-color: #002151;
}


/* Campus section */

#campus-section-content {
    display: inline-block;
    padding: 8px;
    width: 50%;
}

#campus-section-title {
    font-weight: 500;
    font-size: 1.6em;
    background-color: #0f64a2;
    color: #ffffff;
    padding: 5px 20px;
    text-align: initial;
}

/* Estilos para los radio buttons */
#label-campus {
    text-align: left;
    font-size: 14px;
    padding: 10px 0 0;
    color: #2a2a2a;
    font-weight: bold;

}


#radio-campus {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0 20px 0 0;
    padding: 9px 0;
    font-weight: 375;

}

#radio-campus input[type="radio"] {
    margin-right: 3px;
    display: none;
}

#radio-campus label {
    position: relative;
    padding-left: 35px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
}


#radio-campus input[type="radio"]:checked+label::before {
    background-color: #404040;
    border-color: #404040;
}

#radio-campus label:hover::before {
    border-color: #0142a2;
}

#radio-campus input[type="radio"]:checked+label:hover::before {
    border-color: #015fa2;
    border-width: 1px;
}

/* Period section*/
#period-section-content {
    padding: 8px;
    display: inline-block;

}

/* Estilos para los radio buttons */
#label-period {
    text-align: left;
    font-size: 14px;
    padding: 10px 0 0;
    color: #2a2a2a;
    font-weight: bold;
}


#radio-period {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0 20px 0 0;
    padding: 9px 0;
    font-weight: 375;
}

#radio-period input[type="radio"] {
    margin-right: 3px;
    display: none;
}

#radio-period label {
    position: relative;
    padding-left: 35px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
}

#radio-period label::before,
#radio-campus label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 1px solid #0142a2;
    border-radius: 50%;
    background: white;
    transition: all 0.3s ease;
}

#radio-period input[type="radio"]:checked+label::before {
    background-color: #404040;
    border-color: #404040;
}

#radio-period input[type="radio"]:checked+label:hover::before {
    border-color: #015fa2;
    border-width: 1px;
}

/* General info section */
#general-info-section-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.input-group {
    display: flex;
    align-items: flex-end;
    flex: 1;
    justify-content: space-between;
    gap: 20px;
}


.input-item {
    flex: 1;
}

#general-info-section-title {
    font-weight: 500;
    font-size: 1.6em;
    background-color: #0f64a2;
    color: #ffffff;
    padding: 5px 20px;
    text-align: initial;
}

#label-name,
#label-lastname,
#label-birthdate,
#label-gender,
#label-cedula,
#label-marital-status,
#label-nationality,
#label-native-language {
    text-align: left;
    font-size: 14px;
    color: #2a2a2a;
    font-weight: 600;
}

#label-campus::after,
#label-period::after,
#label-name::after,
#label-lastname::after,
#label-birthdate::after,
#label-gender::after,
#label-cedula::after,
#label-marital-status::after,
#label-nationality::after,
#label-native-language::after {
    content: '*';
    margin-left: 2px;
    color: red;
}

#name,
#lastname,
#gender,
#birthdate,
#cedula,
#marital-status,
#nationality,
#native-language {
    border: 1px solid #a0aec0;
    border-radius: 3px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    color: #2a2a2a;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    background-color: transparent;
    font-family: inherit;
}


#name:focus,
#lastname:focus {
    outline: none;
}

#personal-info-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    gap: 20px;
    align-items: flex-end;
}


#personal-info-section-1 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 20px;
    width: 50%;
}

#personal-info-section-2 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 50%;
}

#status-info-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

#main input[type="text"],
#main input[type="date"],
#main select {
    height: 40px;
    margin-top: 5px;
}

#status-info-section-content {
    display: flex;
    align-items: flex-end; 
}


#id-section,
#gender-section{
    width: 100%;
}

#header-top span,
#id-section span {
    font-size: 14px;
    color: #808080;
}


/* Pie de página */

#footer {
    background-color: #000;
    color: #fff;
    padding: 30px 0 0 0;
}

#footer .row {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

#top-footer {
    padding-bottom: 30px;
}

#footer .top-footer-col {
    flex: 1;
    margin: 0 15px;
}

#footer h4 {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    margin: 0px 0px 5px;
    vertical-align: top;
}

#top-footer p,
#top-footer ul {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 24px;
    vertical-align: top;
    letter-spacing: normal;
    text-align: start;
    font-weight: 300;
    margin: 0;
}

#footer ul {
    list-style: none;
    padding: 0;
}


#top-footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}


#footer .top-footer-col {
    float: left;
    width: 33.33%;
}



.back-to-top {
    position: fixed;
    bottom: 52px;
    right: 80px;
    text-align: center;
    width: 45px;
    height: 45px;
    z-index: 99;
    background-color: #2c2961;
    color: #fff;
    border: none;
    padding: 0;
    border-radius: 0%;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
}

.back-to-top i{
    font-size: 20px;
}

.back-to-top a {
    color: inherit;
    text-decoration: none;
}

.back-to-top:hover {
    transition: all 0.3s ease-in-out;
    background-color: #fdfdfd;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); 
}

#col-3-quick-links .fa {
    display: inline-block;
    font: normal;
    font-size: 16px;
    margin-right: 5px;
    color: #fff;
}

#top-footer ul li a:hover {
    color: #2b45c1;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

#top-footer ul li a:hover i {
    transition: all .3s ease-in-out;
    color: #2b45c1;
}

.bottom-footer {
    padding: 25px 0 25px 0;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 24px;
    font-weight: 300;
    background-color: #090909;
}

.bottom-footer p {
    margin: 0;
}


.bottom-footer a {
    color: #2b45c1;
    text-decoration: none;
}

.bottom-footer a:hover {
    color: #fff;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

#top {
    position: absolute;
    top: 0;
  }

hr {
    border: 1px solid #0f64a2;
}
